.ContactUs {
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  font-family: 'Nunito-Regular';
}

.ContactUs-LeftRight {
  flex: 0.5;
}

.ContactUs-Image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ContactUs-Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 85px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ContactUs {
    padding-bottom: 762px;
    font-size: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}